<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Console</title>
	<!-- Bootstrap core CSS-->
	<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
	<!-- Custom fonts for this template-->
	<link href="stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
	<!-- Custom styles for this template-->
	<link href="stylesheets/sb-admin.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/">Console</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-text">
      <% if (currentUser.name() && currentUser.length !== 0) {%> Ciao, <%= currentUser.name() %>!<% } %>
    </span>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Stazione di Controllo">
          <a class="nav-link" href="/">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Stazione di Controllo</span>
          </a>
        </li>
        <% if (mode === 'debug') { %>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Simulatore">
          <a class="nav-link" href="/simulator">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Simulatore</span>
          </a>
        </li>
        <% } %>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Esci</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="content-wrapper">

    <h3 class="text-center mb-3">Controlli</h3>
    <div class="container-fluid">
      <!-- Icon Cards-->
      <div class="row justify-content-center">
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white o-hidden h-100" id="robotStartCommand">
            <div class="card-body">Avvia il robot
            </div>
            <a class="card-footer text-white clearfix small z-1">
              <span class="float-left">START</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white o-hidden h-100" id="robotStopCommand">
            <div class="card-body">Ferma il robot
            </div>
            <a class="card-footer text-white clearfix small z-1">
              <span class="float-left">STOP</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>

      <h6 class="text-center" id="temperatureAndTimeStatus"></h6>

      <h3 class="text-center mt-3 mb-3">Stato dei dispositivi</h3>
      <div class="row justify-content-center">
            <div class="col-md-3">
              <div class="card mb-3 box-shadow">
                <img class="card-img-top" alt="Robot" src="images/robot.jpg">
                <div class="card-body justify-content-center">
                  <p class="card-text text-center" id="robotStatus"></p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card mb-3 box-shadow">
                <img class="card-img-top" alt="Hue" src="images/hue.jpg">
                <div class="card-body">
                  <p class="card-text text-center" id="ledStatus"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Andrea Boscarino, Davide Di Donato & Federico Livi (2018)</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Sei sicuro di voler uscire?</h5>
          </div>
          <div class="modal-body">Clicca su "Esci" se vuoi confermarlo.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Annulla</button>
            <a class="btn btn-primary" href="/log/out">Esci</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- Bootstrap core JavaScript-->
  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="javascripts/jquery.easing.min.js"></script>
  <script src="javascripts/sb-admin.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="javascripts/indexClient.js"></script>
  
</html>
